body{
	font-size: a9px;
}
table{
	width: 90%;
	margin : 30px auto;
	border-collapse: collapse;
	text-align: left;
}
tr{
	border-bottom; 1px solid #cbcbcb;
}
th, td{
	border: none;
	height: 20px;
	padding: 2px;
}
tr:hover{
	background: #F5F5F5;
}
form{
	width:60%;
	margin: 50px auto;
	text-align: left;
	padding: 20px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
}
.input-group{
	margin: 10px 0px 10px 0px;
	text-align:center;
}
input{
	height: 20px;
	width: 80%;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid gary;
	
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
	margin:auto;
}
.msg{
	margin: 30px auto;
	padding: 10px;
	border-radius: 5px;
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	width: 50%;
	text-align: center;
}
.edit_bnt{
	text-decoration:none;
	padding: 2px 5px;
	background: #2E8B57;
	color: white;
	border-radius: 3px;
}
.del_bnt{
	text-decoration:none;
	padding: 2px 5px;
	background: #800000;
	color: white;
	border-radius: 3px;
}
img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

